*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(189,189,189);
    background: linear-gradient(90deg, rgba(189,189,189,1) 0%, rgba(65,114,172,1) 100%);
}

body form{
    margin: 20px;
    padding: 20px;
    background-color: grey;
    width: fit-content;
    border-radius: 7px;
    font-family: calibri;
}

h3{
    font-family: arial;
    margin-left: 30px;
}

.container{
    background-color: grey;
    padding: 20px;
}