.card-api{
    background-color: var(--container);
    width: 1000px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0 0 20px rgb(22, 22, 22);
    text-align: center;
}

.title-card{
    margin-bottom: 16px;
    color: var(--text);
}

.card-poke{
    display: flex;
    gap: 20px;
}